:root {
  --wpt_primary: #FF8FB1;
  --wpt_primary_deep: #c5728b;
  --wpt_primary_deepest: #ed7b9d;
  --wpt_primary_light: #66555a;

  --wpt_secondary: #fabacd38;
  --wpt_secondary_deep: #e65a84;
  --wpt_secondary_light: #ff78a0;

  --wpt_link: #cb93a4;
  --wpt_link_hover: #f80f55;
  --wpt_link_deep: #003542;
  --wpt_link_light: #047c9b;
  

  --wpt_text: #B270A2;
  --wpt_text_deep: #724452;
  --wpt_text_light: #462b33;  

  --wpt_warning: #ffeb3b;
  --wpt_danger: #d00;
  --wpt_cart_highliter: #FF8FB1;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #FF8FB1;
  --wpt_thead_bg: #7a4495;
  --wpt_thead_text: #fce2db; 

  --wpt_product_title: var(--wpt_primary_deepest);
  --wpt_product_title_hover: var(--wpt_primary);
  
  --wpt_table_bg: var(--wpt_white);
  --wpt_table_tr_odd: #dd000005;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_primary);

  --wpt_btn_bg: var(--wpt_primary);
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: rgba(0, 0, 0, 0.18);
  --wpt_sorted_head_text: inherit;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);

}

body.wpt_table_body .wpt-wrap table:not( .has-background ) .wpt-tbody-tag .wpt-td-tag{
  background: transparent;
}

body.wpt_table_body .wpt-wrap .all_check_header_footer.all_check_header>span {
  color: #000000 !important;
  background: transparent !important;
}

body.wpt_table_body .wpt-wrap .wpt-lister .lister-ins {
  color: #5c5c5c !important;
}

body.wpt_table_body .wpt-wrap .widget_shopping_cart_content>ul>li,
body.wpt_table_body .wpt-wrap .search_single .query_box_direct_value, 
body.wpt_table_body .wpt-wrap .instance_search_input,
body.wpt_table_body .wpt-wrap span.select2.select2-container.select2-container--default{
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button,
body.wpt_table_body .wpt-wrap a.button.add_to_cart_all_selected,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button{
  background: var(--wpt_primary) !important;
  color: var(--wpt_btn_color) !important;
  border: 1px solid var(--wpt_primary) !important;
  line-height: 16px !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap a.button.add_to_cart_all_selected:hover,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button:hover{
  background:  var(--wpt_white) !important;
  color: var(--wpt_btn_color_hover) !important;
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content .buttons>a{
  color: var(--wpt_white) !important;
}

body.wpt_table_body .wpt-wrap span.wpt_product_price .amount{
  color: var(--wpt_text) !important;
}