:root {
  --wpt_primary: #26407C;
  --wpt_primary_deep: #1f3464;
  --wpt_primary_deepest: #243763;
  --wpt_primary_light: #566383;

  --wpt_secondary: #e8efff;
  --wpt_secondary_deep: #85a4b8;
  --wpt_secondary_light: #eff8ff;

  --wpt_link: var(--wpt_primary);
  --wpt_link_hover: var(--wpt_primary_deepest);
  --wpt_link_deep: #003542;
  --wpt_link_light: #047c9b;
  

  --wpt_text: #646464;
  --wpt_text_deep: #000000;
  --wpt_text_light: #404040;  

  --wpt_warning: #ffeb3b;
  --wpt_danger: #d00;
  --wpt_cart_highliter: #00b17a;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #ffc107;
  --wpt_thead_bg: var(--wpt_white);
  --wpt_thead_text: #212529;

  --wpt_product_title: var(--wpt_primary_deepest);
  --wpt_product_title_hover: var(--wpt_primary);
  
  --wpt_table_bg: transparent;
  --wpt_table_tr_odd: transparent;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_primary);

  --wpt_btn_bg: var(--wpt_primary);
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: rgba(0, 0, 0, 0.18);
  --wpt_sorted_head_text: inherit;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);
}

body.wpt_table_body .wpt-wrap table:not( .has-background ) .wpt-tbody-tag .wpt-td-tag{
  background: transparent;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag thead.wpt-tr-tag.wpt_table_header_row th,
body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl thead{
  border-bottom: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl.wpt-tr-tag.wpt-row {
  box-shadow: none !important;
}

div.wpt-wrap .wpt-table-tag.wpt_product_table .wpt-tbody-tag.wpt-tr-tag.wpt_row>.wpt-td-tag{
  border-left: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}

div.wpt-wrap .wpt-table-tag.wpt_product_table .wpt-tbody-tag.wpt-tr-tag.wpt_row>.wpt-td-tag:last-child{
  border-right: 1px solid #ddd !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button,
body.wpt_table_body .wpt-wrap a.button.add_to_cart_all_selected,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button{
  background: var(--wpt_primary) !important;
  color: var(--wpt_btn_color) !important;
  border: 1px solid var(--wpt_primary) !important;
  line-height: 16px !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap a.button.add_to_cart_all_selected:hover,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button:hover{
  background:  var(--wpt_white) !important;
  color: var(--wpt_btn_color_hover) !important;
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .wpt_each_attribute_wrapper>label{
  margin-bottom: 0 !important;
}

body.wpt_table_body .wpt-wrap .widget_shopping_cart_content>ul>li,
body.wpt_table_body .wpt-wrap .search_single .query_box_direct_value, 
body.wpt_table_body .wpt-wrap .instance_search_input,
body.wpt_table_body .wpt-wrap span.select2.select2-container.select2-container--default{
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .qib-button-wrapper{
  cursor: not-allowed !important;
}
