:root {
  --wpt_primary: #fdfdfd;
  --wpt_primary_deep: #515d68;
  --wpt_primary_deepest: #212529;
  --wpt_primary_light: #212529;

  --wpt_secondary: #edf7f8;
  --wpt_secondary_deep: #ceeaed;
  --wpt_secondary_light: #d0d1d1;

  --wpt_link: var(--wpt_black);
  --wpt_link_hover: var(--wpt_primary_deepest);
  --wpt_link_deep: #003542;
  --wpt_link_light: #047c9b;
  

  --wpt_text: var(--wpt_black);
  --wpt_text_deep: #000000;
  --wpt_text_light: #404040;  

  --wpt_warning: #ffeb3b;
  --wpt_danger: #d00;
  --wpt_cart_highliter: #00b17a;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #ffc107;
  --wpt_thead_bg: #EFF7FF;
  --wpt_thead_text: var(--wpt_black);

  --wpt_product_title: #212529;
  --wpt_product_title_hover: #0d1114;
  
  --wpt_table_bg: #FDFDFD;
  --wpt_table_tr_odd: #EFF7FF;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_primary);

  --wpt_btn_bg: #007bff;
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: rgba(0, 0, 0, 0.18);
  --wpt_sorted_head_text: inherit;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);
}

body.wpt_table_body .wpt-wrap table:not( .has-background ) .wpt-tbody-tag .wpt-td-tag{
  background: transparent;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button{
  background: #007bff !important;
  border: 1px solid #007bff !important;
  line-height: 16px !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button:hover{
  background:  var(--wpt_white) !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
}

body.wpt_table_body .wpt-wrap .wpt_each_attribute_wrapper>label{
  margin-bottom: 0 !important;
}

body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button {
  background: #007bff !important;
  color: var(--wpt_white) !important;
} 

body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button:hover, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button:hover {
  background: var(--wpt_white) !important;
  border: 1px solid #007bff !important;
  color: #007bff !important;
} 


body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl.wpt-tr-tag.wpt-row{
  border-top: 1px solid #d4d4d4 !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl.wpt-tr-tag.wpt-row:hover{
  border-top: 1px solid #007bff !important;
  border-bottom: 1px solid #007bff !important;
}

a.wpt-view-n,
.wpt-new-footer-cart-inside .wpt-cart-contents>span,
.wpt-wrap .all_check_header_footer.all_check_header>span,
.wpt-wrap a.button.add_to_cart_all_selected{
  background: var(--wpt_secondary) !important;
  color: #212529 !important;
  font-weight: bold !important;
}

.wpt-wrap .wpt_table_pagination span.page-numbers.current, .wpt-wrap .wpt_table_pagination a.page-numbers.current {
  color: #212529 !important;
  border: 1px solid  #212529 !important;
}

.wpt-wrap .wpt_table_pagination a.page-numbers, .wpt-wrap .wpt_table_pagination span.page-numbers,
.wpt-wrap .wpt_table_pagination a.page-numbers, .wpt-wrap .wpt_table_pagination span.page-numbers {
  border: 1px solid #212529 !important;
  background-color: #EFF7FF !important;
}

.wpt-wrap .wpt_table_pagination a.page-numbers:hover, .wpt-wrap .wpt_table_pagination span.page-numbers:hover {
  color: #212529 !important;
  background-color: #b1c3d5!important;
}

.wpt_table_body .select2-container--default .select2-results__option--highlighted[aria-selected]:hover, 
.wpt_table_body .select2-container--default .select2-results__option--highlighted[data-selected]:hover
{
  background-color: #EFF7FF !important;
  color: #212529 !important;
}

div.wpt-wrap.wpt-wrap input[type=checkbox]:checked+label:after {
  color: var(--wpt_black) !important;
}

div.wpt-wrap.wpt-wrap input[type=checkbox]:checked+label:after {
  top: 0;
}

.wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content li a.remove::before,
.wpt-new-footer-cart:hover a.wpt-view-n i.wpt-bag{
  color: #bd5e8e !important;
  background-color: #f3d6d6 !important;
}

div.wpt-footer-cart-wrapper>a:after, div.wpt-footer-cart-wrapper>a{
  background-color: #007bff !important;
  color: #212529 !important;
}

body.wpt_table_body .wpt-wrap p.woocommerce-mini-cart__buttons.buttons>a,
.wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item,
.wpt-wrap .widget_shopping_cart_content>ul>li,
.wpt-wrap .search_single .query_box_direct_value, .wpt-wrap .instance_search_input{
  border: 1px solid #CCD2D3 !important;
  color: #000 !important;
}

body.wpt_table_body .wpt-wrap p.woocommerce-mini-cart__buttons.buttons>a:hover{
  color: #000 !important;
  background: #EFF7FF !important;
  border: 1px solid #CCD2D3 !important;
}
