:root {
  --wpt_primary: #606060;
  --wpt_primary_deep: #070606;
  --wpt_primary_deepest: #322b2b;
  --wpt_primary_light: #161818;

  --wpt_secondary: #4d5252;
  --wpt_secondary_deep: #878a8a;
  --wpt_secondary_light: #4d5252;

  --wpt_link: var(--wpt_black);
  --wpt_link_hover: var(--wpt_primary_deepest);
  --wpt_link_deep: #003542;
  --wpt_link_light: #047c9b;
  

  --wpt_text: #000;
  --wpt_text_deep: #000000;
  --wpt_text_light: #404040;  

  --wpt_warning: #ffeb3b;
  --wpt_danger: #d00;
  --wpt_cart_highliter: #4caf50;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #ffc107;
  --wpt_thead_bg: var(--wpt_white);
  --wpt_thead_text: #212529;

  --wpt_product_title: var(--wpt_black);
  --wpt_product_title_hover: var(--wpt_black);
  
  --wpt_table_bg: var(--wpt_white);
  --wpt_table_tr_odd: transparent;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_black);

  --wpt_btn_bg: #606060;
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: #48503fa4;
  --wpt_sorted_head_text: white;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);
}

body.wpt_table_body .wpt-wrap .wpt-table-tag thead.wpt-tr-tag.wpt_table_header_row, 
body.wpt_table_body .wpt-wrap .wpt-table-tag thead.wpt-tr-tag.wpt_table_header_row th,
body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl thead{
  border-bottom: 2px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag.wpt-tbl.wpt-tr-tag.wpt-row{
  border-bottom: 1px solid #E9E9E9 !important;
}

body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button,
body.wpt_table_body .wpt-wrap a.button.add_to_cart_all_selected,
body.wpt_table_body .wpt-wrap .wpt_action .wpt_woo_add_cart_button{
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap .wpt_each_attribute_wrapper>label{
  margin-bottom: 0 !important;
}

body.wpt_table_body .wpt-wrap .widget_shopping_cart_content>ul>li,
body.wpt_table_body .wpt-wrap .search_single .query_box_direct_value, 
body.wpt_table_body .wpt-wrap .instance_search_input,
body.wpt_table_body .wpt-wrap span.select2.select2-container.select2-container--default{
  border: 1px solid var(--wpt_primary) !important;
}

body.wpt_table_body .wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content .buttons>a,
body.wpt_table_body .all_check_header_footer.all_check_header>span{
  color: var(--wpt_white) !important;
}


div.wpt-footer-cart-wrapper>a:after, 
div.wpt-footer-cart-wrapper>a{
  background-color: var(--wpt_primary) !important;
}

.wpt-wrap .wpt_add-request-quote-button, 
.wpt-wrap .wpt_quick_view .caqv-open-modal, 
tr.visible_row.wpt_row .wpt-td-tag a.button, 
tr.visible_row.wpt_row .wpt-td-tag a.wpt_woo_add_cart_button, 
tr.visible_row.wpt_row .col_inside_tag.action a.wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.add_to_cart_button, 
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.single_add_to_cart_button, 
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.add_to_cart_button.adding, 
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.add_to_cart_button.alt.wc-variation-selection-needed, 
body.wpt_table_body .wpt-wrap .wpt-table-tag .wpt-tbody-tag .wpt-tr-tag .button.add_to_cart_button.adding.wc-variation-selection-needed {
    padding: 5px 8px;
}

body.wpt_table_body .wpt-wrap .wpt-wrap select, 
body.wpt_table_body .wpt-wrap .wpt_varition_section select {
  padding: 1px;
}

body.wpt_table_body .wpt-wrap .wpt_filter_wrapper select, 
body.wpt_table_body .wpt-wrap .wpt_varition_section select {
  padding-left: 8px;
}

body.wpt_table_body .wpt-wrap.wpt-tr-tag.wpt-row>.wpt-td-tag {
  padding: 2px;
}

body.wpt_table_body .wpt-wrap .wpt_table_head, 
body.wpt_table_body .wpt-wrap .wpt_table_head>th {
  padding: 4px 3px;
  text-align: left;
}

.wpt-new-footer-cart {
  background: #4caf50 !important;
}

body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button,
body.wpt_table_body .wpt-wrap .wpt_action input.input-text.qty.text, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .quantity input.input-text.qty.text, .wpt-wrap .wpt_quantity input.input-text.qty.text, 
body.wpt_table_body .wpt-wrap .wpt_quick_qty input.input-text.qty.text {
  /* height: 25px; */
}

body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button {
  background: var(--wpt_off_white) !important;
} 

body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button:hover, 
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button:hover {
  background: var(--wpt_deep_off_white) !important;
}

body.wpt_table_body .wpt-wrap .qib-button-wrapper,
body.wpt_table_body .wpt-wrap .wpt_quantity .welcome-to-all {
  height: 25px;
}